{% if extend %}
{% extends base_file %}
{% endif %}

{% block content %}
    {% for story in stories %}
        <div id="{{story.hacker_news_id}}" class="card text-bg-secondary">
            <!--
            <div class="card-header text-body-secondary">
                {{story.hacker_news_id}}
            </div>
            -->
            <div class="card-body">
            <h3 class="card-title"><b>{{ story.title }}</b></h3>
            <p class="card-text">{{ story.snapshot }}</p>
                <a href="{{ story.link }}" class="btn btn-primary {% if story._error %}disabled{% endif %}">Link</a>
                <a hx-post="/remove_story?id={{story.hacker_news_id}}" class="btn btn-secondary">Remove</a>
            </div>
            <div class="card-footer text-body-secondary">
                Saved on: {{story.date_saved}}
            </div>
        </div>
        <br>
    {% endfor %}
    <div id="load_more_{{more_count}}">
        <a class="btn btn-outline-secondary" hx-get="/account?more_count={{more_count+1}}" hx-target="#load_more_{{more_count}}" >Load More</a>
    </div>
{% endblock %}