{% if extend %}
{% extends base_file %}
{% endif %}

{% block content %}
    {% for story in stories %}
        <div class="card text-bg-secondary">
            <div class="card-body">
                <h3 class="card-title"><b>{{ story.title }}</b></h3>
                <p class="card-text">{{ story.snapshot }}</p>
                <a href="{{ story.link }}" class="btn btn-primary">Link</a>
            </div>
            <div class="card-footer text-body-secondary">
                {{story.hacker_news_id}}
            </div>
        </div>
        <br>
    {% endfor %}
    <div id="load_more_{{more_count}}">
        <a class="btn btn-outline-secondary" hx-get="/account?more_count={{more_count+1}}" hx-target="#load_more_{{more_count}}" >Load More</a>
    </div>
{% endblock %}