{% extends base_file %} {% block title %}test{% endblock %} 

{% block content %}
<div class="row fs-4 p-2 ">
    <b>{{story_title}}</b>
</div>
<div class="row fs-6 p-2 justify-content-center">
    <a class="btn col-3 btn-outline-secondary"href={{story_link}} target="_blank">story_link</a>
    <a class="btn col-3 btn-outline-secondary" href="/{{save_link}}?feed={{refresh_link}}">Save</a>
    <a class="btn col-3 btn-outline-secondary" href="/{{refresh_link}}">Skip</a>
</div>
<div class="row fs-5 border p-2">
    <p>{{story_snapshot}}</p>
</div>
{% endblock %}

